:root {
  --main-color-text: #212121;
  --secondary-color-text: #757575;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --team-background: #f5f4fa;
  --hero-background: #2f303a;
  --port-button: #f5f4fa;
  --primary-font: roboto, sans-serif;
  --header-font: #000000;
  --footer-font: #ffffff;
  --button-hover: #188ce8;
}

body {
  background-color: var(--white-color);
  color: var(--main-color-text);
  font-family: var(--primary-font);
  letter-spacing: 0.03em;
}


.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
img {
  display: block;
}

button {
  cursor: pointer;
  font-family: inherit;
}

/* header */

.logo {
  text-decoration: none;
  color: var(--accent-color);
  font-family: raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  font-style: normal;
}

.logo-header {
  color: var(--header-font);
}

.logo-footer {
  color: var(--footer-font);
}

/* Navigation  */

.site-nav .link {
  color: var(--main-color-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.auth-nav .link {
  color: var(--secondary-color-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}

.link-email,
.link-phone {
  color: var(--secondary-color-text);
}


/* Hero  */

.hero {
  background-color: var(--hero-background);
}

.hero-heading {
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  cursor: pointer;
}

.button {
  color: var(--white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
}

button:active,
button:hover {
  background-color: #188ce8;
  color: var(--white-color);
}

/* Feature  */

.feature-heading {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}

.feature-title {
  color: var(--main-color-text);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  cursor: pointer;
}

.feature-text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-color-text);
}

/* Section */

.section {
  background-color: var(--port-button);
}

.section-card {
  background-color: var(--footer-font);
  cursor: pointer;
}

.section-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: var(--main-color-text);
}
.section-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--main-color-text);
}
.section-text {
  font-size: 16px;
  line-height: 1.18;
  color: var(--secondary-color-text);
}

/* Footer  */

.footer-section {
  background-color: var(--hero-background);
}

.logo .logo-footer {
}

address .link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--footer-font);
}

address .link-email,
address .link-phone {
  color: var(--secondary-color-text);
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

address .link-email:hover,
address .link-phone:hover {
  color: var(--accent-color);
}

/* Portfolio  */

a {
  text-decoration: none;
}

.port-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--main-color-text);
  background-color: var(--port-button);
}

.port-btn:focus {
  background-color: #188ce8;
  color: var(--white-color);
}

.porthead {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color-text);
  cursor: pointer;
}

.portfolio-heading {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);}


.porttext {
  font-size: 16px;
  line-height: 1.88;
  color: var(--secondary-color-text);
}
